.bg-body-tertiary{
    background-color: rgb(43, 48, 53) !important;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link{
    color: white !important;
}

.dropdown-menu{
    --bs-dropdown-min-width: none !important;
    background-color: rgb(43, 48, 53) !important;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-item{
    color: white;
    width: 180px;
}